body { background-color: #f3e8ff; color: #333; font-family: Arial, sans-serif; margin: 0; padding: 0; }

nav a { color: #333; text-decoration: none; padding: 10px 15px; transition: 0.3s; }

nav a:hover { background-color: #8b5cf6; color:white; border-radius: 8px;}
