 :root { 
    --titlesectionPrimaryColor: light pink;
 }  
   
          #title {
            color:var(--titlesectionPrimaryColor);
             text-align: center;
            padding-top: 200px;
            background-position: center top;
        } 
.title-secion-header { 
  margin-bottom: -5px;
}

.title-section-subtitle {
  margin-bottom: 40px;
}

    .title-section-button {
      color:var(--titlesectionPrimaryColor);
      border:solid var(--titlesectionPrimaryColor) 1px;
      border-radius: 5px;
      padding: 15px 20px;
      background-color: transparent;
    
    }

    .title-section-button:hover {
        background-color:  purple;  
        cursor: pointer;
         } 

